* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #FFFFFF;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 80px;
  font-family: 'Darker Grotesque', sans-serif;
  z-index: 99999999;
}

.container {
  margin: 40px 120px;
}

header {
  margin-bottom: 140px;
}

main {
  height: 700px;
}

footer {
  background-color: #1D1C1C;
  color: white;
  height: 314px;
}

.main-banner {
  display: flex;
}

.main-announcement {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-announcement p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 70px;
}

.banner {
  position: relative;
  flex: 1;
}

/* .graffiti-svg {
  position: absolute;
  top: -55px;
  z-index: -1;
  left: -66px;
} */

/* .flower-svg {
  position: absolute;
  left: 148px;
  bottom: 139px;
} */

.pot-svg {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 100px;
}

.leafs-svg {
  position: absolute;
  z-index: 2;
  top: -203px;
  right: -78px;

}

.container.footer {
  display: flex;
  flex: 1;
  padding-top: 55px;
}

.item {
  flex-basis: 100%;
}

.made-by {
  display: flex;
  flex-direction: column;
}

.about {
  flex-basis: 200%;
}

.about p {
  margin-top: 20px;
  line-height: 2;
  padding-right: 119px;
}

.logo-fix-my-street {
  width: 136px;
}

.logo-code-for-cr {
  width: 72px;
}

.footer-fix-my-street {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
}

.footer-fix-my-street img {
  margin-top: 20px;
}

.footer-code-for-cr {
  display: flex;
  flex-direction: column;
}

.footer-code-for-cr img {
  margin-top: 20px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons li {
  display: inline;
  height: 32px;
  padding-right: 16px;
}

.social-icons a {
  font-size: 32px;
  margin-top: 32px;
  color: white;
}

.social-icons a:hover {
  color: gray;
}

.btn-green {
  padding: 24px 48px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 40px;
  background-color: hsla(162, 77%, 34%, 1);
  color: white;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
}
